<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ct.soa.guess.core.dao.ITicketMapper" >
    
    <resultMap id="ticketResultMap" type="com.ct.soa.guess.core.entity.Ticket">
		<id property="id" column="id" />
		<result property="userid" column="userid"/>
		<result property="lottery" column="lottery"/>
		<result property="money" column="money"/>
		<result property="catId" column="cat_id"/>
		<result property="issue" column="issue"/>
		<result property="matchId" column="match_id"/>
		<result property="openLottery" column="open_lottery"/>
		<result property="status" column="status"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
	
    <!--保存数据-->
	<insert id="saveTicket" parameterType="com.ct.soa.guess.core.entity.Ticket" useGeneratedKeys="true" keyProperty="id">
		insert into t_tickets(
			id,
			userid,
			lottery,
			money,
			cat_id,
			match_id,
			open_lottery,
			status,
			create_time
		) values(
			UUID(),
			#{userid},
			#{lottery},
			#{money},
			#{catId},
			#{matchId},
			#{openLottery},
			#{status},
			NOW()
		)
	</insert>
	
	<update  id="updateTicket" parameterType="com.ct.soa.guess.core.entity.Ticket">
		update t_tickets
		<set> 
			status=#{status},
			open_lottery=#{openLottery},
			bonus=#{bonus},
			open_time#{openTime}
		</set>
		where id=#{id}
	</update>
	
	<select id="findTicketByUserid" resultMap="ticketResultMap">
		select * from t_tickets where userid = #{userid} 
		<if test="status!=null">
			and status = #{status}
		</if>
		<if test="catId!=null">
			and cat_id = #{catId}
		</if>
		<if test="start!=null">
			and start &lt;= #{start}
		</if>
		<if test="end!=null">
			and end &gt; #{end}
		</if>
	</select>

	<select id="findTicketById" resultMap="ticketResultMap">
		select * from t_tickets where id = #{id} and userid = #{userid}
	</select>
	
	<select id="findTicketByOpening" resultMap="ticketResultMap">
		select * from t_tickets where cat_id = #{catId} and status = 1 and last_open_time &gt; NOW()
	</select>
</mapper>